

<div class="container">
    <div class="profile">


        <div class="profile-image">
            <img class="rounded-circle"
                src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                alt="">
        </div>

        <div class="profile-contant">
            <form>

                <div class="mb-3">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" name="register_username" class="form-control" placeholder="Username"
                        required="required" value="">
                </div>


                <div class="mb-3">
                    <label for="exampleInputFullname">Full Name</label>
                    <input type="text" name="register_username" class="form-control" placeholder="Full Name"
                        required="required" value="">
                </div>

                <div class="mb-3">
                    <label for="exampleInputFullname">Email</label>
                    <input type="email" name="register_email" class="form-control" placeholder="Email"
                        required="required" value="">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="mb-3">
                    <label for="exampleInputFullname">Password</label>
                    <input type="password" name="register_password" class="form-control" placeholder="Password"
                        required="required">
                </div>


                <div class="mb-3">
                    <label for="exampleInputFullname">Confirm Password</label>
                    <input type="password" name="register_cpassword" class="form-control" placeholder="Confirm Password"
                        required="required">
                </div>
                <div class="mb-3">
                    <input type="submit" value="SignUp" class="btn btn-success btn-custom">
                </div>

            </form>
        </div>

    </div>
</div>