<head>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<!-- background image -->
<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../image/fashionGallery.png" alt="First slide">

                <!-- search form -->
                <div class="container">
                    <div class="carousel-caption ">
                        <form class="form-inline mx-sm-3 mb-2 text-centers">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">Contact</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container marketing">

                    <!--  -->
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--  -->
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--  -->
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--  -->
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--  -->
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="bg-white rounded shadow-sm"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                                    alt="" class="img-fluid card-img-top">
                                <div class="p-4">
                                    <h5> <a href="#" class="text-dark">Red paint cup</a></h5>
                                    <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
    </div>

</main>
<!-- tab JavaScript plugin. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>