<head>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/profile.css">
</head>

<!-- background image -->
<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../image/fashionGallery.png" alt="First slide">

                <!-- search form -->
                <div class="container">
                    <div class="carousel-caption ">
                        <form class="form-inline mx-sm-3 mb-2 text-centers">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
