

<div class="featurette-divider">
    <div class="container marketing">
<form action="/Post/new" enctype="multipart/form-data" method="POST">


    <div class="form-floating mb-4">
        <input type="Design" class="form-control" id="floatingInput" placeholder="Design" name="title">
        <label for="floatingInput">Title</label>
    </div>

    <div class="form-floating mb-4">
        <input type="file" class="form-control" id="floatingImage" placeholder="Image" name="image">
        <label for="floatingImage">image</label>
    </div>
    <div class="form-floating mb-4">
        <textarea class="form-control" placeholder="content" id="floatingTextarea2"
            style="height: 100px" name="content"></textarea>
        <label for="floatingTextarea2">content</label>
    </div>

    <div class="col-12 ">

        <input type="submit" value="Share" class="btn btn-secondary btn-md px-5 form__input__submit">
    </div>
</form>
</div>
</div>