<head>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/designer.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<!-- hero section background image -->
<section id="hero">
    <div class="hero-container">
      <h1>Welcome to fashion</h1>
      <h2>Explore the fashion gallery! and keep track with your favorite designers!</h2>
      <form action="" method="post" role="form" class="search-form">
        <div class="row no-gutters">
          <div class="col-md-6 form-group pr-md-1">
            <input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
            <div class="validate"></div>
          </div>
         
        </div>
        
        <div class="text-center"><button type="submit">Search</button></div>
      </form>
    </div>
  </section>
<!-- hero section END  -->
<!---about us section start  -->
<section id="about" class="about-us">
<div class="container">
    <div class="row">
          <div class="col-lg-6 ">
              <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609921867/Screenshot_2021-01-06_11-10-19-507_mr3bp1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-3 pt-lg-0 mt-5  ps-4">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="font-italic mt-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate in voluptate </li>
            </ul>
           
            <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
           
          </div>
    </div>
</div>
</section>
 <!--  Quote section   -->
    <div class=" container-fluid  d-flex justify-content-center ">
        
         <!--quote img down : need rotate  -->
        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/e_colorize:100,o_40/v1609871265/left-quotes-sign_f1doim.png" class="img-responsive quote-image me-5 mb-4 align-self-end">
<!--quote img up : need rotate -->
       <p class="align-self-center mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, tempore eum rem aperiam nostrum quae quam </br>
           non deserunt! In soluta reiciendisIn soluta reiciendis modi neque modi neque. Tenetur,</br> fugit culpa recusandae ab nostrum ut.</p>
           <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/e_colorize:100,o_40/v1609871266/right-quotes-symbol_gy2doy.png" class="img-responsive quote-image ms-4 mt-4 align-self-start  ">
        </div>
    </div>
   
  <!-- cards section  -->
<div class=" cards-late container mt-5 text-center">
<h3 class="latest">Our top designers </h3>
<div class=" divider "></div>
<section id="top-cards" class="top-des-cards">
<div class="row row-cols-1 h-100 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-80 shadow p-3 mb-5 bg-white rounded">
        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609884440/Screenshot_2021-01-05_20-18-25-461_d2j1g8.png" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-80 shadow p-3 mb-5 bg-white rounded">
        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609882704/Screenshot_2021-01-05_20-18-38-826_gvmav8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="   card  h-80 shadow p-3 mb-5 bg-white rounded">
        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609889771/Screenshot_2021-01-06_02-18-36-851_iiusye.png" class="card-img-top  " alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content This content is a little bit longer.</p>
        </div>
      </div>
    </div>
</div>

<!---Empty section -->
    
</section>
        <!--  
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus
                    magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            /.col-lg-4 
            <div class="col-lg-4">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                    fermentum
                    massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
   
  -->
</main>