<div class="featurette-divider"></div>



<div class="singlePost">


    <div class="col-lg-4">
        <div class="bg-white rounded shadow-sm"><img
                src="<%=post.image%>">
            <div class="p-4">
                <h5> <a href="#" class="text-dark"><%=post.title%></a></h5>
                <p class="small text-muted mb-0"><%=post.content%></p>
            </div>
        </div>
    </div>
</div>