<div class="featurette-divider"></div>



<div class="singlePost">


    <div class="col-lg-4">
        <div class="bg-white rounded shadow-sm"><img
                src="https://res.cloudinary.com/mhmd/image/upload/v1556294929/matthew-hamilton-351641-unsplash_zmvozs.jpg"
                alt="" class="img-fluid card-img-top">
            <div class="p-4">
                <h5> <a href="#" class="text-dark">Designer</a></h5>
                <p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eaque
                    ipsum? Reiciendis sed, voluptatum soluta quos laudantium accusamus est eius, fugit, tempora
                    consequuntur suscipit nihil alias numquam repudiandae dolor libero!</p>
            </div>
        </div>
    </div>
</div>