body{
  
    src: url("../fonts/poppins/Poppins-Regular.ttf");
      color:#333;
      font-size: 13px;
      margin: 0;
      box-sizing: border-box;
  }
  .wrapper{
  background-image: url(https://res.cloudinary.com/dvukj9sqf/image/upload/v1609711046/bg-registration-form-1_bfpuf4.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  width : 100%;
    }
    .container-md-auto{
     
      background-color:white;
      margin-top: 100px;
      display: flex;
      flex-direction: row;
    }
    .image {
      display: block;
      max-width: 100%;
      height: auto;
      margin-top: 12px;
      margin-left:5px;
     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  form {
   
      padding-top: 36px;
      padding-left: 45px;
      padding-right: 45px;}
  .form-group{
    font-family: "Poppins-Regular";
          display: flex;
      }
  .form-group input {
    font-family: "Poppins-Regular";
          width: 50%;   
      }
       .form-group .form-control:first-child {
       
        margin-right: 8px; }
  .form-control{
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
      }
  h3 , h6{
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Poppins-SemiBold";
      text-align: center;
      margin-bottom: 28px;
    }
  .form-wrapper {
      position: relative;
  }
  .buttonsign {
      border: none;
      width: 164px;
      height: 51px;
      margin: auto;
      margin-top: auto;
      margin-top: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: #333;
      font-size: 15px;
      color: #fff;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
  }
  .center-element{
    display: flex;
    justify-content: center;
  }
  .desiner-continer{
      margin-right: 10rem;
      margin-left: 10rem;
  }