<head>
    <link rel="stylesheet" href="../../css/designer.css">
    <link rel="stylesheet" href="../../css/test.css">

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
</head>
<main role="main" class="designer-wrapper">

    <!-- fan profile -->
    <div class="container">
        <div class="profile center-element mb-5">
            <!-- profile view .get start here  -->
            <div class="profile-image">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="">
            </div>

            <!-- desiner profile -->
            <div class="row profile-contant align-self-center">
                <h1 class="profile-user-name">
                    name
                </h1>


                    <button href="editDesignerProfile" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                    data-bs-target="#EditProfileModal" data-bs-whatever="@getbootstrap">Edit
                    Profile</button>



            </div>
        </div>
    </div>

    <!-- end -->

    <ul class="nav nav-tabs nav-justified mb-3 " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active text-dark" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="gallery-tab" data-bs-toggle="tab" href="#gallery" role="tab"
                aria-controls="gallery" aria-selected="false">Gallery</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
                aria-controls="reviews" aria-selected="false">Reviews</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <!-- <div class="row container d-flex justify-content-center"> -->
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="../../image/fashionGallery.png" class="img-radius"
                                        alt="User-Profile-Image" width="65%"> </div>
                                <h6 class="f-w-600 text-dark">Name</h6>
                                <p class="text-dark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut
                                    alias nam perspiciatis obcaecati voluptate reprehenderit </p> <i
                                    class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">

                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">INFORMATION</h6>

                                <div class="col-sm-12">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">name</p>
                                            <h6 class="text-muted f-w-400">rntng@gmail.com</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Gender</p>

                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">CONTACT</h6>
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">city</p>
                                            <p class="m-b-10 f-w-600">98979989898</p>


                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">adderss</p>

                                        </div>
                                    </div>
                                    <ul class="social-link list-unstyled m-t-40 m-b-10">
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="facebook" data-abc="true"><i
                                                    class="mdi mdi-facebook feather icon-facebook facebook"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="twitter" data-abc="true"><i
                                                    class="mdi mdi-twitter feather icon-twitter twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="instagram" data-abc="true"><i
                                                    class="mdi mdi-instagram feather icon-instagram instagram"
                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
            <div class="row">
                <div class="row mt-3 mb-3">

                    <div class="col-lg-6">
                        <input class="form-control " type="text" placeholder="Search" aria-label="Search" name="Search">
                    </div>

                    <div class="col">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </div>


                </div>
                <!-- <div class="col cols-md-3">
                    <form class="form-inline mx-sm-3 mb-2 flex-row" action="/" method="POST">
                        <input class="form-control " type="text" placeholder="Search" aria-label="Search"
                            name="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div> -->
                <!-- <div class="col-4">
                    <button class="btn profile-edit-btn" data-bs-toggle="modal" data-bs-target="#NewModal"
                        data-bs-whatever="@new">New
                        Post</button>
                </div> -->
            </div>
            <!-- <div class="row"> -->
            <!-- <section id="top-cards" class="top-des-cards"> -->
            <!-- <div class="row row-cols-1 h-100 row-cols-md-3 g-4"> -->
            <div class="row d-inline-flex">
                <div class="col h-100 cols-md-3">
                    <div class="card h-80 shadow p-3 mb-5 bg-white rounded">
                        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609884440/Screenshot_2021-01-05_20-18-25-461_d2j1g8.png"
                            class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col h-100 cols-md-3">
                    <div class="card h-80 shadow p-3 mb-5 bg-white rounded">
                        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609884440/Screenshot_2021-01-05_20-18-25-461_d2j1g8.png"
                            class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional
                                content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>
                <div class="col h-100 cols-md-3">
                    <div class="card h-80 shadow p-3 mb-5 bg-white rounded">
                        <img src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609884440/Screenshot_2021-01-05_20-18-25-461_d2j1g8.png"
                            class="card-img-top " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional
                                content. This content is a little bit longer.</p>

                        </div>
                    </div>
                </div>

            </div>
            <!-- </div> -->
            <!-- </section> -->

            <!-- </div> -->
        </div>

        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <div class="container">
                <div class="my-5 d-flex justify-content-end">
                    <button class="btn profile-edit-btn btn-dark" data-bs-toggle="modal" data-bs-target="#ReviewModal"
                        data-bs-whatever="@new">Review</button>
                </div>

                <div class="row">

                    <div class="col-xl-12 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-12">
                                    <div class="card-block">
                                        <!-- <button href="editDesignerProfile" class="btn profile-edit-btn"
                                data-bs-toggle="modal" data-bs-target="#EditProfileModal"
                                data-bs-whatever="@getbootstrap">Edit
                                Profile</button> -->
                                        <div class="col-sm-12">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="m-b-10 f-w-600">Someone</h5>

                                                <div>
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>

                                            </div>
                                            <h6 class="m-b-20 m-t-40 p-b-5 f-w-600">Lorem ipsum dolor, sit
                                                amet consectetur adipisicing elit. Veritatis praesentium non, dolorem
                                                iusto distinctio vero architecto reprehenderit beatae tenetur quidem id
                                                dolores, necessitatibus nam natus soluta repudiandae porro atque quo.
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">

                                <div class="col-sm-12">
                                    <div class="card-block">
                                        <!-- <button href="editDesignerProfile" class="btn profile-edit-btn"
                                data-bs-toggle="modal" data-bs-target="#EditProfileModal"
                                data-bs-whatever="@getbootstrap">Edit
                                Profile</button> -->
                                        <div class="col-sm-12">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="m-b-10 f-w-600">Someone</h5>

                                                <div>
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                            <h6 class="m-b-20 m-t-40 p-b-5 f-w-600">Lorem ipsum dolor, sit
                                                amet consectetur adipisicing elit. Veritatis praesentium non, dolorem
                                                iusto distinctio vero architecto reprehenderit beatae tenetur quidem id
                                                dolores, necessitatibus nam natus soluta repudiandae porro atque quo.
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-xl-12 col-md-12">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">

                                <div class="col-sm-12">
                                    <div class="card-block">
                                        <!-- <button href="editDesignerProfile" class="btn profile-edit-btn"
                                data-bs-toggle="modal" data-bs-target="#EditProfileModal"
                                data-bs-whatever="@getbootstrap">Edit
                                Profile</button> -->
                                        <div class="col-sm-12">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="m-b-10 f-w-600">Someone</h5>

                                                <div>
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                </div>
                                            </div>
                                            <h6 class="m-b-20 m-t-40 p-b-5 f-w-600">Lorem ipsum dolor, sit
                                                amet consectetur adipisicing elit. Veritatis praesentium non, dolorem
                                                iusto distinctio vero architecto reprehenderit beatae tenetur quidem id
                                                dolores, necessitatibus nam natus soluta repudiandae porro atque quo.
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    </div>

</main>

<!-- models -->
<!-- add review -->
<div class="modal fade" id="ReviewModal" tabindex="-1" aria-labelledby="ReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ReviewModalLabel">Write a review</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="rating-form" action="/submitrating?amount=" method="POST">

                    <div class="row review">
                        <div class="row">
                            <div class="col-lg-9 review-header">
                                <h6>How Did You Find Designer?</h6>
                            </div>

                            <div class="ratingBig">

                                <div id='rating'>
                                    <span></span><span></span><span></span><span></span><span></span>
                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <div class="mb-3">

                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="content" id="floatingTextarea2"
                                        style="height: 100px" rows="3" name="commend"></textarea>
                                    <label for="floatingTextarea2">Any Comment?</label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" value="Post" class="btn btn-dark btn-custom" style="float: right;">
                        <input type="submit" value="close" class="btn btn-dark btn-custom" data-bs-dismiss="modal">


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../../js/main.js"></script>