<head>
    <link rel="stylesheet" href="../../css/signup.css" />
  </head>
  <div class="wrapper center-element">
    <div class="">
    <div class="d-inline-flex flex-row flex-wrap container-md-auto">
      <div class="col-4-md-auto p-3">
        <img
          class="image"
          src="https://res.cloudinary.com/dvukj9sqf/image/upload/v1609711810/registration-form-1_xkabsq.jpg"
          alt="model"
        />
      </div>
        <div class="col-md-auto p-3">
          <form action="/fan/login" method="POST">
            <h3>LOGIN Form</h3>
            <div class="form-wrapper">
              <input
                type="email" placeholder="Email Address" class="form-control" name="email"/>
              <i></i>
            </div>
            <div class="form-wrapper">
              <input type="password" placeholder="Password" class="form-control" name="password"/>
              <i></i>
            </div>
            <button>LOGIN</button>
            <!-- <a href="/index">Back To Main Page</a> -->
          </form>
        </div>
    </div>
  </div>
  </div>